CompileFlags:
  CompilationDatabase: build
  Add:
    - "-IC:/Users/KARIMABENDA/Documents/superunicode/superunicode/include"
    - "-IC:/Users/KARIMABENDA/Documents/superunicode/sutf/include"
    - "-IC:/Users/KARIMABENDA/Documents/superunicode/superunicode_extended/include"
